<mat-toolbar color="primary" class="toolbar">
  <!-- Left Section: Username and Dashboard Link -->
  <div class="toolbar-left">
    <span (click)="goToDashboard()" class="username">{{ username || "Guest" }}</span>
  </div>

  <!-- Right Section: Buttons -->
  <div class="toolbar-right">
    <!-- Blog Filter Dropdown (Only on Blogs Page) -->
    <button *ngIf="isBlogsPage" mat-icon-button [matMenuTriggerFor]="filterMenu">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-menu #filterMenu="matMenu">
      <button mat-menu-item (click)="onVisibilityFilterChange('ALL')">All Blogs</button>
      <button mat-menu-item (click)="onVisibilityFilterChange('PUBLIC')">Public Blogs</button>
      <button mat-menu-item (click)="onVisibilityFilterChange('PRIVATE')">Private Blogs</button>
      <button mat-menu-item (click)="onVisibilityFilterChange('FRIENDS_ONLY')">Friends Only Blogs</button>
    </mat-menu>

    <!-- Go to Blogs Button (Only on Dashboard) -->
    <button *ngIf="isDashboard" mat-raised-button color="accent" (click)="goToBlogs()">
      <mat-icon>article</mat-icon>
      Go to Blogs
    </button>

    <!-- Create Blog Button (Only on Blogs Page) -->
    <button *ngIf="isBlogsPage" mat-raised-button color="accent" (click)="createBlog()">
      <mat-icon>add</mat-icon>
      Create Blog
    </button>

    <!-- Logout Button -->
    <button mat-raised-button color="warn" (click)="logout()" class="ml-4">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
