<div class="login-container">
  <div class="login-left">
    <h2>Login! 👋</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        formControlName="username"
        placeholder="Enter your username"
      />
      <div
        *ngIf="
          loginForm.get('username')?.invalid &&
          loginForm.get('username')?.touched
        "
        class="error"
      >
        Username is required.
      </div>
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="error"
      >
        Password is required.
      </div>
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="btn btn-signin"
      >
        Sign In
      </button>
    </form>
    <p>Don't have an account? <a routerLink="/register">Sign Up Now</a></p>
  </div>
  <div class="login-right">
    <div class="login-info">
      <img src="hero.jpg" alt="Dashboard example" />
    </div>
  </div>
</div>
