<div class="register-container">
  <div class="register-left">
    <h2>Register! 👋</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        formControlName="username"
        placeholder="Enter your username"
      />
      <div
        *ngIf="
          registerForm.get('username')?.invalid &&
          registerForm.get('username')?.touched
        "
        class="error"
      >
        Username is required.
      </div>
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Enter your email"
      />
      <div
        *ngIf="
          registerForm.get('email')?.invalid &&
          registerForm.get('email')?.touched
        "
        class="error"
      >
        <div *ngIf="registerForm.get('email')?.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="registerForm.get('email')?.errors?.['email']">
          Invalid email format.
        </div>
      </div>
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <div
        *ngIf="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
        "
        class="error"
      >
        <div *ngIf="registerForm.get('password')?.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters.
        </div>
      </div>
      <button
        type="submit"
        [disabled]="registerForm.invalid"
        class="btn btn-signup"
      >
        Sign Up
      </button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login Now</a></p>
  </div>
  <div class="register-right">
    <div class="register-info">
      <img src="hero.jpg" alt="Dashboard example" />
    </div>
  </div>
</div>
