<div class="blog-container">
  <app-navbar></app-navbar>

  <div class="main-content">
    <mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>
    <div class="blog-grid" *ngIf="!isLoading">
      <div
        *ngFor="let blog of blogs; trackBy: trackByBlogId"
        class="blog-card"
        (click)="viewBlog(blog.id)"
      >
        <div class="blog-card-header">
          <h3>{{ blog.title }}</h3>
          <div class="blog-actions">
            <button mat-icon-button [routerLink]="['/blogs', blog.id, 'edit']">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteBlog(blog.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <p class="blog-content">{{ blog.content }}</p>
        <div class="blog-footer">
          <span class="blog-date">{{ blog.createdAt | date }}</span>
          <span class="blog-views">Views: {{ blog.views }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
